<h4>New message from <%= @id %> on <%= @site %></h4>
<div style="white-space:pre-wrap;margin-bottom:1em"><%= @message %></div>
<i style="font-size:.9em;opacity:.6;">This message was relayed via emailrelay.henrygd.me</i>